/*
- Typography
- Font weights: 400
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

// Variables
@use 'utils/variables' as variables;

// Default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: 3px solid transparent;
}

*:focus {
    outline-color: variables.$darkest-primary-color;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: variables.$primary-text-color;
}

input[type='text'],
input[type='date'],
input[type='time'],
input[type='email'],
input[type='password'],
select {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    border: 1px solid variables.$divider-color;
    border-radius: 3px;
    transition: all 0.3s;
}

input[type='date'],
input[type='time'] {
    padding: 0.4rem;
}

select {
    cursor: pointer;
    background-color: variables.$light-text;
}

// General classes
.hidden {
    display: none !important;
}

.button {
    &,
    &:link,
    &:visited {
        padding: 0.8rem 1.6rem;
        border: 2px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }

    &:hover,
    &:link:hover,
    &:visited:hover,
    &:active,
    &:link:active,
    &:visited:active {
        opacity: 0.9;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }

    &--primary,
    &--primary:link,
    &--primary:visited {
        background-color: variables.$primary-color;
        color: variables.$light-text;
    }

    &--primary-border,
    &--primary-border:link,
    &--primary-border:visited {
        color: variables.$primary-text-color;
        background-color: variables.$light-text;
        border: 2px solid variables.$primary-color;
    }

    &--secondary,
    &--secondary:link,
    &--secondary:visited {
        background-color: variables.$secondary-color;
        color: variables.$light-text;
    }
}
