// Colors: https://www.materialpalette.com/ -> choose blue and red

$primary-color: #2196f3;
$dark-primary-color: #1976d2;
$darkest-primary-color: #1760a9;
$secondary-color: #ff5252;
$primary-text-color: #212121;
$secondary-text-color: #686767;
$light-text: #fff;
$divider-color: #bdbdbd;
$light-grey: #f6f6f6;
$calendar-cells-border: 1px solid rgba($divider-color, 0.3);
