/*------------------------
        Navigation
-------------------------- */
nav {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(var(--divider-color-rgb), 0.6);

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo_image {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.nav__logo__text {
  margin-left: 1.2rem;
}

.nav__movement .button {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

/*------------------------
      Calendar table
-------------------------- */
#calendar-table {
  font-size: 1.2rem;
  position: relative;
}

#calendar-table.week #calendar__header,
#calendar-table.week #calendar__body {
  grid-template-columns: 1fr repeat(7, 3fr);
}

#calendar-table.four #calendar__header,
#calendar-table.four #calendar__body {
  grid-template-columns: 1fr repeat(4, 3fr);
}

#calendar-table.day #calendar__header,
#calendar-table.day #calendar__body {
  grid-template-columns: 1fr 3fr;
}

#calendar__header,
#calendar__body {
  display: grid;
  align-items: stretch;
}
/*------------------------
      Calendar header
-------------------------- */
#calendar__header {
  border-bottom: var(--calendar-cells-border);
  padding: 1.2rem 2.4rem;
  padding-right: 0;

  position: sticky;
  top: 0;
  background-color: var(--light-text);
  z-index: 9;
}

#calendar__header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

#calendar__header div:not(:last-child) {
  border-right: var(--calendar-cells-border);
}

/*------------------------
      Calendar body
-------------------------- */
#calendar__body {
  padding-left: 2.4rem;
  position: relative;
  overflow: hidden;
}

.calendar__body__row {
  display: flex;
  flex-direction: column;
}

.calendar__body__row .calendar__hour {
  padding-right: 0.8rem;
  display: flex;
  align-items: start;
  justify-content: end;
}

#calendar__body .calendar__cell {
  border-left: var(--calendar-cells-border);
  border-bottom: var(--calendar-cells-border);
  cursor: pointer;
  position: relative;
}

/*------------------------
     Event editor 
-------------------------- */
#event-editor {
  position: absolute;
  background-color: var(--light-text);
  top: 0;
  left: 0;
  z-index: 3;

  box-shadow: 0 0 18px rgba(var(--divider-color-rgb), 0.75);
  min-width: 30rem;
  animation: fade-right 0.35s ease-out;
}

@keyframes fade-right {
  from {
    transform: translateX(-5%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#event-editor .event-header {
  display: flex;
  justify-content: space-between;

  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  background-color: var(--dark-primary-color);
  color: var(--light-text);
}

.event-form__container {
  padding: 1.6rem;
}

#event-editor .time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

#event-editor .event-header .exit-button {
  background-color: transparent;
  color: inherit;
  border: none;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

#event-editor .event-header .exit-button:hover {
  opacity: 0.7;
}

#event-editor form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#event-editor .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

/*------------------------
      Events
-------------------------- */
.event {
  position: relative;
  z-index: 1;
  overflow: hidden;

  border-radius: 3px;
  padding: 3px 6px;
  position: absolute;
  left: 6px;
  right: 6px;
  background-color: var(--primary-color);
  color: var(--light-text);
}

.event:hover,
.event:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.event .title,
.event .description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.event .description {
  color: var(--light-grey);
  margin-top: 0.4rem;
}

.event .resize-box {
  position: absolute;
  height: 10px;
  top: 100%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 2;
  cursor: s-resize;
}
